@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'HellPrint';
  src: url('/fonts/HellPrint.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {}